body,html{
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;
}
iframe{
    border:none
}
#left{
    position:absolute;
    top:0;
    left:0px;
    width:60px;
    height:100%;
}
#right{
    position:absolute;
    top:0;
    right:0;
    width:80px;
    height:100%;
}
#main_container{
    position:absolute;
    left:60px;
    right:80px;
    top:0;
    height:100%;
    
    /*IE6用*/
    _left:auto;
    _right:auto;
    _padding-left:60px;
    _padding-right:80px;
}
#main{
    *position:absolute; /* IE7用 */
    _position:relative; /* IE6用 */
    width:800px;
    height:100%;
}